*,
*::after,
*::before {
  bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid {
  display: flex;
  aspect-ratio: 1;
  flex-wrap: wrap;
  user-select: none;
  flex-basis: 500px;
}

.cell {
  background: #afafaf;
  aspect-ratio: 1;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 3px solid rgb(243, 61, 209);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f2b8e1;
  color: white;
  font-size: 1.25rem;

  .size,
  .color {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    label {
      text-align: center;
      width: 100%;
    }
  }

  #squaresPerSideInput {
    background-color: transparent;
    color: white;
    font-size: 1rem;

    text-align: center;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    border: 3px solid white;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    min-width: 100px;
    flex: 1;
  }

  #colorInput {
    border: none;
    background-color: transparent;
    border-radius: 1rem;
    min-width: 100px;
    height: 50px;
    flex: 1;
  }

  button {
    background-color: rgb(243, 61, 209);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;

    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &.active {
      background-color: #fff;
      border: rgb(243, 61, 209) 1px solid;
      color: rgb(243, 61, 209);
    }
  }

  #resetGridButton {
    margin-top: auto;
  }
}
